{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "auto",
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "bracketSpacing": true,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}